@import "tailwindcss";

@layer base {
  .font-cinzel {
    font-family: 'Cinzel', serif;
  }
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}
